<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.mapper.UserMapper" >
    <resultMap id="BaseResultMap" type="com.example.pojo.User" >
        <id property="userId" column="user_id" jdbcType="VARCHAR" /><!--用户id-->
        <result property="cardType" column="card_type" jdbcType="VARCHAR" /><!--证件类型-->
        <result property="cardNo" column="card_no" jdbcType="VARCHAR" /><!--证件号码-->
        <result property="userName" column="user_name" jdbcType="VARCHAR" /><!--用户姓名-->
        <result property="userSex" column="user_sex" jdbcType="VARCHAR" /><!--用户性别-->
        <result property="userAge" column="user_age" jdbcType="VARCHAR" /><!--用户年龄-->
        <result property="userRole" column="user_role" jdbcType="VARCHAR" /><!--用户角色-->
    </resultMap>

    <sql id="Base_Column_List" >
        user_id, card_type, card_no, user_name, user_sex, user_age, user_role
    </sql>

    <!--分页查询用户-->
    <select id="queryUserPage" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
            <include refid="Base_Column_List" />
        from user
            order by user_id desc
			limit #{startRows,jdbcType=INTEGER},5
    </select>

    <!--分页查询用户-->
    <select id="selectUserPage" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from user
        <where>
            <if test="userName != null and userName !=''">
                and userName like concat('%', #{userName}, '%')
            </if>
            <if test="userSex != null and userSex !=''">
                and user_sex = #{userSex}
            </if>
        </where>
        order by user_id desc
        limit #{startRows,jdbcType=INTEGER},5
    </select>

    <!--查询用户个数-->
    <select id="getRowCount" resultType="java.lang.Integer">
		select count(*) from USER
	</select>

    <!--添加用户信息-->
    <insert id="createUser" parameterType="com.example.pojo.User" >
        insert into User(user_id, card_type, card_no, user_name, user_sex, user_age, user_role)
		values(#{userId}, #{cardType}, #{cardNo}, #{userName}, #{userSex}, #{userAge}, #{userRole})
    </insert>

    <!--根据 user_id 删除用户-->
    <delete id="deleteUserById" parameterType="String" >
        delete from user
        where user_id = #{userId,jdbcType=VARCHAR}
    </delete>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select
        <include refid="Base_Column_List" />
        from user
        where user_id = #{userId,jdbcType=INTEGER}
    </select>

    <insert id="insertSelective" parameterType="com.example.pojo.User" >
        insert into user
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="userId != null" >
                user_id,
            </if>
            <if test="cardNo != null" >
                card_no,
            </if>
             <if test="cardType != null" >
                card_type,
            </if>
            <if test="userName != null" >
                user_name,
            </if>
            <if test="userSex != null" >
                user_sex,
            </if>
            <if test="userAge != null" >
                user_age,
            </if>
            <if test="userRole != null" >
                user_role,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="userId != null" >
                user_id = #{userId,jdbcType=VARCHAR},
            </if>
            <if test="cardNo != null" >
                card_no = #{cardType,jdbcType=VARCHAR},
            </if>
            <if test="cardType != null" >
                card_type = #{cardType,jdbcType=VARCHAR},
            </if>
            <if test="userName != null" >
                user_name = #{userName,jdbcType=VARCHAR},
            </if>
            <if test="userSex != null" >
                user_sex = #{userSex,jdbcType=VARCHAR},
            </if>
            <if test="userAge != null" >
                user_age = #{userAge,jdbcType=VARCHAR},
            </if>
            <if test="userRole != null" >
                user_role = #{userRole,jdbcType=VARCHAR}
            </if>
        </trim>
    </insert>

    <!--根据 user_id 更新用户信息-->
    <update id="updateUserById" parameterType="com.example.pojo.User" >
        update user
        <set >
            <if test="cardNo != null" >
                card_no = #{cardNo,jdbcType=VARCHAR},
            </if>
            <if test="cardType != null" >
                card_type = #{cardType,jdbcType=VARCHAR},
            </if>
            <if test="userName != null" >
                user_name = #{userName,jdbcType=VARCHAR},
            </if>
            <if test="userSex != null" >
                user_sex = #{userSex,jdbcType=VARCHAR},
            </if>
            <if test="userAge != null" >
                user_age = #{userAge,jdbcType=VARCHAR},
            </if>
            <if test="userRole != null" >
                user_role = #{userRole,jdbcType=VARCHAR}
            </if>
        </set>
        where 1 = 1
        and user_id = #{userId,jdbcType=VARCHAR}
    </update>

</mapper>